// VARIABLES
$font-primary: 'Noto Sans', sans-serif;
$font-secondary: 'Oswald', sans-serif;
$font-tertiary: 'Poppins', sans-serif;

$color-bg-header: #f8f9fa;
$color-bg-button: #f8f9fa;
$color-text-button: #20368c;
$color-button-hover: #384670;
$color-button-active: #5c70ae;
$color-footer-bg: #f8f9fa;
$color-footer-text: #384670;

$shadow-light: 2px 2px 2px rgba(0,0,0,0.39);
$shadow-medium: 0px 3px 5px rgba(0,0,0,0.55);
$shadow-hover: 0px 2px 1px rgba(0,0,0,0.25);

// MIXINS
@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

// RESET GLOBAL
* {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
}

// HEADER
.header {
  @include flex(space-between, center);
  height: 70px;
  background-color: $color-bg-header;
  @include box-shadow($shadow-light);

  &--logo {
    margin-left: 10px;
  }

  &--nav {
    min-width: 400px;

    &__optionList {
      list-style: none;
      @include flex(flex-start, center);

      li {
        margin-right: 20px;

        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

// DESCRIPTION
.description {
  margin-top: 1px;
  width: 100%;

  &--box {
    position: relative;

    &__image {
      width: 100%;
      height: 500px;
    }

    &__overlay {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background-color: rgba(0,0,0,0.5);
      color: whitesmoke;
      z-index: 1;
      height: 500px;

      .boxDescription {
        @include flex(flex-start, center, row);
        flex-wrap: wrap;
        margin: 0 auto 0 10px;
        width: 40%;
        height: 250px;

        &--title {
          font-family: $font-secondary;
          font-size: 45px;
        }

        &--cover {
          font-family: $font-tertiary;
        }

        &--ILearn {
          text-decoration: none;
          background-color: $color-bg-button;
          height: 30px;
          width: 100px;
          text-align: center;
          border-radius: 10px;
          color: $color-text-button;

          &__text {
            text-align: center;
            padding: auto 0;
            font-family: $font-secondary;
            font-weight: 600;
            cursor: pointer;
          }

          &:hover {
            color: $color-button-hover;
          }
        }
      }
    }
  }
}

// TECHNOLOGIES
.technologies {
  @include flex(space-between, flex-start, row);
  flex-wrap: wrap;
  margin: 10px;

  &--title {
    text-align: center;
    width: 100%;
    font-family: $font-secondary;
    margin-bottom: 10px;
  }

  &--card {
    width: 230px;
    height: 300px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    margin: 0 10px 10px 0;
    @include box-shadow($shadow-medium);

    &__header {
      border-radius: 10px 10px 0 0;

      img {
        width: 100%;
        height: 130px;
        border-radius: 10px 10px 0 0;
        @include box-shadow($shadow-medium);
      }
    }

    &__body {
      padding: 0 7px;

      h3 {
        text-align: center;
        font-size: 20px;
        font-family: $font-secondary;
      }

      p {
        font-family: $font-tertiary;
        font-weight: 600;
        font-size: 15px;
        max-height: 170px;
      }

      a {
        text-decoration: none;
        font-weight: 600;
        color: $color-button-hover;
        margin: 15px 0 0 150px;
        font-size: 14px;

        &:hover {
          color: $color-button-active;
        }
      }
    }
  }
}

// CONTACT US
.contactUs {
  @include flex(center, flex-start);
  flex-wrap: wrap;
  margin: 10px;
  height: 450px;

  &--title {
    text-align: center;
    width: 100%;
    font-family: $font-secondary;
    margin-bottom: 10px;
  }

  &--Form {
    form {
      @include flex(center, center);
      flex-wrap: wrap;

      div {
        margin-right: 10px;
      }

      &__label {
        font-size: 15px;
        color: $color-button-hover;
        font-weight: 600;
        font-family: $font-secondary;
        margin-right: 5px;
      }

      &__input, &__textArea {
        outline: none;
        border-radius: 5px;
      }

      &__input {
        width: 200px;
        height: 35px;

        &:hover {
          @include box-shadow($shadow-hover);
        }

        &:focus {
          border-radius: 10px;
        }
      }

      &__textArea {
        width: 450px;

        &:hover {
          @include box-shadow($shadow-hover);
        }
      }
    }
  }

  &--message {
    width: 75%;
    margin: 10px auto;
    display: flex;
    align-items: center;
  }

  &--send {
    width: 48%;
    margin: 10px auto;
    height: 45px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    @include box-shadow($shadow-medium);
    background-color: $color-button-hover;
    color: $color-bg-button;
    cursor: pointer;

    &:hover {
      background-color: $color-button-active;
    }
  }
}

// FOOTER
.footer {
  background-color: $color-footer-bg;
  width: 100%;
  @include flex(center, center);
  height: 50px;
  @include box-shadow($shadow-light);

  &--autor {
    font-size: 15px;

    &__twitter {
      text-decoration: none;
      color: $color-footer-text;
    }
  }
}

// MEDIA QUERIES
@media only screen and (max-width: 520px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }

  .technologies {
    justify-content: center;
  }
}

@media only screen and (max-width: 360px) {
  .header--nav {
    max-width: 300px;
    min-width: 0;
  }

  .header--nav__optionList {
    justify-content: start;
    align-items: center;
  }

  .header--nav__optionList li {
    width: 90px;
    font-size: 14px;
    margin-right: 5px;
  }

  .technologies {
    justify-content: center;
  }

  .contactUs--Form {
    width: 95%;

    form {
      display: flex;
      justify-content: space-between;
    }
  }

  .contactUs--message {
    width: 96%;
    margin: 10px 0;
  }

  .contactUs--send {
    width: 98%;
  }
}
